body{
	margin: 0;
	background: url("http://binaryfortress.cachefly.net/Protected/expiretime=1424390400;badurl=aHR0cDovL3d3dy52b2ljZWJvdC5uZXQ=/5b56405707661c0721287ede5c823dc8/WPF/Images/128/WallpaperFusion-on-the-edge-1920x1200-W.jpg") repeat-x scroll center top;
}

.root{
	margin: 0 auto;
	width: 1200px;
	min-width: 1200px;
}

header{
	min-height: 100px;
	width: 100%;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
}

#title{
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0px 0px 2px black;
	color: #ffffff;
	font-size: 35px;
}

nav{
	padding: 20px 0px 20px 0px;
	width: 100%;
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
}

nav a{
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;	
}
