body{
	margin: 0;
	background: #f1f1f1;
	min-width: 1500px;
}

nav{
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	display: inline;
	background: #444;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	box-shadow: 0px 0px 15px gray;
}

#title{
	float: left;
	padding: 0 0;
	margin: 15px 50px 0px 50px;
	text-transform: uppercase;
	color: #8AC007;
	font-size: 30px;
}

nav a{
	float: left;
	margin: 25px 0px 0px 25px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}

nav a:hover{
	color: #66AA33;
}