body{
	min-width: 1120px;
	min-height: 700px;
}

.overlay{
	z-index: 2;
	display: none;
	position: fixed;
	background: black;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.7;
}

#flickrDiv{
	width: 100%;
	color: white;
	font-size: 20px;
}

#flickrResult{
	overflow-x: scroll;
	overflow-y: hidden;
	width: auto;
	white-space: nowrap;
	width: 100%;
}

#search{
	margin: 0px 0px 50px 50px;
	text-transform: uppercase;
}

#searchValue, #resultCount{
	border: 1px solid #ccc;
	background: #545454;
	border-radius: 2em;
	padding: 16px 0px 16px 15px;
	outline: none;
	width: 450px;
	color: white;
	font-size: 20px;
	margin: 0px 25px 0px 25px;
}

#resultCount{
	width: 100px !important;
}

#searchBtn{
	padding: 19px;
	width: 150px;
	font-size: 15px;
	color: white;
	background: #336699;
	border: 1px solid #ccc;
	border-radius: 30px;
	outline: none;
}

#searchBtn:hover{
	cursor: pointer;
}

#flickrResult{
	height: 555px;
}

.flickrImg{
	padding: 5px;
	margin: 5px;
	box-shadow: 0px 0px 4px black;
	background: white;
}

.flickrImg:hover{
	cursor: pointer;
}

#bigPhotoSection{
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 3;
	display: none;
}

#bigPhotoSection img{
	position: absolute;
	transform: translate(-50%, -50%);
	border: 20px solid #eee;
}
